* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

.operation,
h1 {
  text-align: center;
  padding: 5px;
}

h2{
    padding-left: 285px;
    color: rgba(118,113,113,255);
}

.answer {
  color: rgba(0,32,96,255);
  padding-top: 100px;
}

/*Textfield*/
label {
  display: block;
  padding: 10px;
}

.numbers {
  display: grid;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  height: 35px;
  width: 700px;
}

.MathOperations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button[type="submit"] {
  height: 40px;
  width: 150px;
  color: white;
  background-color: rgba(112,173,71,255);
  border: none;
}

/*Media Query*/
@media(max-width:720px) {
  .operators {
    display: flex;
    flex-direction: column;
  }

  input[type="text"] {
    width: 100%;
  }
}